// 定义公用的css变量

// loginPageA
$loginActiveColorA: #00e1ff;
$loginColorA: #dedede;

// Color
$linkcolor: #409eff !default;

// Font
$fontFamily: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
